.header
    grid-area: header
    width: 100%
    padding: 1rem
    background: white

    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: stretch

.header__title
    font-weight: bold
    font-size: 1.6rem
