.env
node_modules
bin/
build/
*.exe
*.docx
*.pdf
*.png
*.xcf
*.zip
*.rar
*.tur
*.jpg
mt_big_demo/
*.mp3
dist/
*.pyc
*.pptx
*.xlsx
*.mp4
WeStudy

# Основной env не закидывается, будет закидываться только пример env файла
.env

# Логи
logs/
*.log

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# IDE
.idea/
.vs/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Wails
*.syso
package.json.md5


# Frontend
node_modules
frontend/.github
.next

# Output
coverage/
dist/
build/
out/

# misc
.hidden/