.env
node_modules
bin/
build/
*.xcf
*.tur
mt_big_demo/
dist/
*.pyc
*.pptx

# Логи
logs/
*.log

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDE
.idea/
.vs/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Wails
*.syso

# Frontend
.next

# Output
coverage/

# misc
.hidden/
