@use "@/shared/ui/styles/colors"

.main
    grid-area: main
    padding: 1rem
    background: white

    display: flex
    gap: 1rem
    >.section
        background: white
        flex: 3
