@use "@/shared/ui/styles/colors"

.grid-item__row
    display: flex
    flex-direction: column
    gap: 6px

.grid-item__button
    background: none
    border: none
    padding: 0
    margin: 0
    font-size: 0.6rem
    font-weight: bold
    width: max-content
    color: colors.$accent-clr !important

    &:hover
        cursor: pointer