global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    option httplog
    option dontlognull
    retries 3
    option redispatch

frontend http_front
    bind *:8080
    default_backend backend_servers

backend backend_servers
    balance roundrobin
    option httpchk GET /health
    http-check expect status 200
    
    server backend-1 backend-1:8080 check inter 5000 rise 2 fall 3
    server backend-2 backend-2:8080 check inter 5000 rise 2 fall 3

stats uri /haproxy-stats
stats refresh 10s
stats admin if TRUE
