# Основной env не закидывается, будет закидываться только пример env файла
.env

# Логи
logs/
*.log

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Wails
*.syso
package.json.md5


# Frontend
node_modules
frontend/.github
*.tsbuildinfo

# Output
coverage/
dist/
build/
out/

# misc
.hidden/